<!DOCTYPE html>
<html>
<head>
	<title>My Personal Website</title>
    <style>
		h1 {
			background-color: purple;
            color: white;
			padding: 10px;
		}
	</style>
</head>
</head>
<body>
	<header>
		<h1>Welcome to Bihong Pei's Website</h1>
		<nav>
			<ul>
                <li><a href="/Users/peibihong/Desktop/Bihong Pei-Resume- new.pdf" target="_blank">Resume</a>
				<li><a href="https://www.linkedin.com/in/pbh980822/">LinkedIn</a></li>
				<li><a href="https://github.com/pbhhh">GitHub</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section id="about">
			<h2>About Me </h2>
			<img src="pic.jpg" alt="Your Picture" width="300" height="300">
			<p> <li>Data analyst experiences in Technology & Internet companies.
                <li>Interested in data science, data analysis, algorithms with a firm background in Python, R, and SQL.
                <li>Self-motivated, proactive, learning attitude, and willing to face challenges.
            </p>
		</section>

		<section id="resume">
			<h2>My Education</h2>
			<ul>
				<li>
					<h4>New York University</h4>
					<ul>
						<li>Master of Science in Quantitative Economics</li>
                        <ul>
                            <li>Selected Courses: Computational Dynamics; R for Programming; Econometrics</li>
                        </ul>
					</ul>
                <li>
                    <h4>New York University</h4>
                    <ul>
						<li>Master of Science in Management of Technology (Data Analytics Track)</li>
                        <ul>
                            <li>Selected Courses: Business Analytics; Data Visualization; Statitiscs; Blockchain</li>
                        </ul>
				</li>
			</ul>
        </section>
    
        <section id="skills">
			<h2>My Skills</h2>
			<ul>
				<li>
					<h4>Data Analytics: A/B Testing; Python (Numpy, Pandas, Matplotlib, Seaborn, Scikit-learn); R (dplyr, tidyr, ggplot
                        2/ ML packages); Machine Learning, Text Mining, Statistical Testing etc.</h4>
                <li>
					<h4>Software: Tableau; MS Excel; Matlab</h4>
				</li>
			</ul>
		
		</section>
	</main>
</body>
</html>
